{% extends "base.html" %}
{% load bootstrap_icons %}
{% block title %}
  ----------------------
{% endblock %}
{% block content %}
<main>
  <div class="container py-5">
    <h5 class="display-6">Личный кабинет</h5>
    <hr>
    <table class="table">
      <tr><td>{{ account_user.first_name }} {{ account_user.last_name }}</td><td></td></tr>
      <tr><td>логин</td><td>{{ account_user.username }}</td></tr>
      <tr><td>email</td><td>{{ account_user.email }}</td></tr>
      <tr><td>уровень доступа</td>
        <td>
          {% comment %} {% if account_user.position == 'admin' %}
          {% endif %} {% endcomment %}
          {{ account_user.position }}
          
        </td>
      </tr>
    </table>
    <div style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
      <a href="http://127.0.0.1:8000/admin/" class="btn btn-success">Панель администратора</a>
      <a href="{% url 'users:logout' %}" class="btn btn-danger">Выход</a>
    </div>
  </div>
</main>
{% include "includes/paginator.html" %}
{% endblock %}